<% provide(:title, "Log in") %>
<h2>Log in</h2>
<div class="container">
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div >
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.password_field :password, autocomplete: "off"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in"  %>
  </div>
<% end %>

  <fieldset class="title">
    <legend>or login with</legend>
  </fieldset>

  <div class="btn-group-vertical">
    <%= link_to  user_facebook_omniauth_authorize_path, class: "btn btn-small btn-social btn-facebook" do  %>
    <span class="fa fa-facebook"></span> Sign in with Facebook
    <% end %>
    
    <%= link_to  user_google_oauth2_omniauth_authorize_path, class: "btn btn-social btn-google btn-small" do %>
    <span class="fa fa-google"> </span> Sign in with Google
    <% end %>
    
    <%= link_to  user_google_oauth2_omniauth_authorize_path, class: "btn btn-social btn-twitter btn-small" do %>
      <span class="fa fa-twitter"> </span> Sign in with Twitter
    <% end %>

  </div>
</div>
