<div class= "list-group-item list-group-item-action flex-column align-items-start" >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= @user.name %></h5>
    <small> Posted <%= time_ago_in_words(post.created_at) %> ago</small>
  </div>
  <div>
  <span id="comments-count-<%=post.id%>" class="badge badge-primary badge-pill">
    <%= "#{post.comments.count} comments" %>
  </span>
  <span id="likes-<%=post.id%>" class="badge badge-primary badge-pill">
    <%= post.likes.count %> likes
  </span>
  </div>
  <p class="mb-1">
    <%= post.content %>
  </p>
  <div class="row">
  <div class="col-sm-6">
    <%= button_to "Comment", comment_new_path, 
          class: "btn btn-light btn-block",
          params: {post_id: post.id},
          method: :get,
          remote: true %>
  </div>
  <% if !current_user.likes?(post) %>
    <div id="like-form-<%=post.id%>"  class="col-sm-6">
      <%= link_to  likes_path(post_id: post.id),
                class: "btn btn-small btn-social post",
                remote: true,
                method: :post do %>
        <span class="fa fa-thumbs-up"></span> Like
      <% end %>
    </div>
  <% else %>
    <div id="like-form-<%=post.id%>" class="col-sm-6">
      <%= button_to 'Unlike', likes_destroy_path,
                            class: "btn btn-danger btn-block",
                            params: {post_id: post.id},
                            method: :delete,
                            remote: true %>
    </div>
  <% end %>
  </div>
  <% if !post.comments.empty? %>
  <% end %>
  <div id="comment-form-<%=post.id%>"></div>
  <div id="comments-<%=post.id%>">
    <%= render post.comments %>
  </div>  
</div>
