<div class= "list-group-item list-group-item-action flex-column align-items-start" >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= @user.name %></h5>
    <small> Posted <%= time_ago_in_words(post.created_at) %> ago</small>
  </div>
  <p class="mb-1">
    <%= post.content %>
  </p>
  <span id="comments" class="badge badge-primary badge-pill">
    0 comments
  </span>
  <span id="likes-<%=post.id%>" class="badge badge-primary badge-pill">
    <%= post.likes.count %> likes
  </span>
  <div>
    <%= button_to "Comment", comment_new_path, 
          class: "btn btn-light btn-sm",
          params: {post_id: post.id},
          method: :get,
          remote: true %>
  </div>

  <% if !current_user.likes?(post) %>
    <div id="like-form-<%=post.id%>">
      <%= render partial: 'like', locals: {post_id: post.id}  %>
    </div>
  <% else %>
    <div id="like-form-<%=post.id%>">
      <%= render partial: 'unlike', locals: {post_id: post.id}  %>
    </div>
  <% end %>
  <div id="comment-form-<%=post.id%>"></div>
  <%= render post.comments %>
</div>
