<% provide(:title, "#{@user.name}'s profile") %>

<div class="container">
<div class="row">
  <aside class="col-sm-4">
    <section>
      <%= image_tag(@user.image, alt: "Profile Picture", 
                    class: "profile-picture") %>
      <h3><%= @user.name %></h3>
    </section>
  </aside>
  <aside class="col-sm-8">
    <%= render 'shared/post_form' %>
    <div class="list-group">
      <% @posts.each do |post| %>
      <%= link_to '#', class: "list-group-item list-group-item-action flex-column align-items-start" do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= @user.name %></h5>
        <small> Posted <%= time_ago_in_words(post.created_at) %> ago</small>
      </div>
      <p class="mb-1"><%= post.content %></p>
    <% end %>
  <% end %>
    </div>
  </aside>
</div>
</div>
