<% provide(:title, "#{@user.name}'s profile") %>

<div class="container">
<div class="row">
  <aside class="col-sm-5">
    <section>
      <%= image_tag(@user.image, alt: "Profile Picture", 
                    class: "profile-picture") %>
      <h3><%= @user.name %></h3>
    </section>
    <section>
      <h3>Activities</h3>
      <div url="#" class="list-group">
        <% @user.activities.first(10).each do |activity| %>
          <a class= "list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1"><%= activity.text %></p>
              <small> <%= time_ago_in_words(activity.created_at) %> ago</small>
            </div>
          </a>
        <% end %>
    
      </div>
    </section>
  </aside>
  <aside class="col-sm-7">
    <%= render 'shared/post_form' %>
    <div class="list-group">
      <%= render @posts %>
    </div>
  </aside>
</div>
</div>
