<div class="card">
  <%= link_to profile_path(image.user) do %>
  <%= image_tag(image.url, class: "card-img-top") %>
  <div class="card-body">
    <h5 class="card-title"><%= image.user.name %></h5>
    <p class="card-text"><%= image.description %></p>
    <p class="card-text"><small class="text-muted">
      Posted <%= time_ago_in_words(image.created_at) %> ago.</small></p>

  </div>
<% end %>
</div>
