<header>
    <nav class="navbar fixed-top">

      <%= link_to "Notebook", authenticated_root_path, id: "logo",
                          class: "navbar-brand" %>
    <% if user_signed_in? %>
                      
      <ul class="nav navbar-right">
        <li >
          <%= link_to "Explore", explore_index_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Home",  authenticated_root_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to profile_path(current_user), class: "btn btn-circle btn-lg" do %>
            
          <span>
            <%= image_tag(current_user.image, alt:"avatar",
                         class: "img") %>
                
          </span>
        <% end %>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, 
                                class: "nav-link",
                                method: :delete %>
        </li>
    </ul>
  <% end %>
  </nav>

</header>
