<header>
    <nav class="navbar fixed-top">

      <%= link_to "Notebook", authenticated_root_path, id: "logo",
                          class: "navbar-brand" %>
    <% if user_signed_in? %>
                      
      <ul class="nav navbar-right">
        <li >
          <%= link_to  explore_index_path,
                class: "btn btn-small btn-social nav-cutsom"  do %>
            <span class="fa fa-globe"></span> Explore
          <% end %>
          
        </li>
        <li>
          <%= link_to  authenticated_root_path,
                class: "btn btn-small btn-social nav-cutsom"  do %>
            <span class="fa fa-home"></span> Home
          <% end %>
        </li>
        <li>
          <%= link_to profile_path(current_user), class: "btn btn-circle btn-lg" do %>
            
          <span>
            <%= image_tag(current_user.image, alt:"avatar",
                         class: "img") %>
                
          </span>
        <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path,
                      class: "btn btn-small btn-social nav-cutsom",
                      method: :delete do %>
            <span class="fa fa-sign-out"></span>Sign Out
          <% end %>

        </li>
    </ul>
  <% end %>
  </nav>

</header>
